@media screen  and (max-width: 900px){
    /*bloco1*/
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1.2rem;
        padding: 0px;
        text-align: justify;
    }
    nav > a {
        font-family: var(--font-destaque);
        font-size: 0.8rem;
        color:#fff;
        padding: 0px 8px;
        text-decoration: none;
        transition-duration: 0.8s;
    }
    nav > a:hover{
        background-color:rgba(255, 255, 255, 0.861);
        padding: 8px;
        border-radius: 10px;
        color:#BFBAE6;
    }
    .container{
        margin:90px 0px 0px 0px;
        padding: 5px;
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    .img{
        margin-top: 50px;
    }
    /*bloco1*/
    .bloco2 {
        margin: 0px 2px;
    }
    .informacao{
        padding: 0px 2px;
    }
    .contato{
        padding: 0px 2px;
    }
    /*bloco3*/
    .bloco3 {
        margin: 0px 2px;
    }
    .skills-s{
        padding:  0px 2px;
    }
    .skills-h{
        padding:  0px 2px;
    }
    /*bloco4*/
    .bloco4 {
        margin: 0px 2px;
    }
    .experiencia{
       padding: 0px 2px;
    }
    .complementares{
        padding: 0px 2px;
    }
}