@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    text-decoration: none;
    overflow:visible;
}
:root{
    --font-destaque: 'Julius Sans One', sans-serif;
}
header{
    background-color: #BFBAE6;
    padding: 5px 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end; 
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.069);
}
nav {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
nav > a {
    font-family: var(--font-destaque);
    font-size: 1.2rem;
    color:#fff;
    padding: 0px 8px;
    text-decoration: none;
    transition-duration: 0.8s;
}
nav > a:hover{
    background-color:rgba(255, 255, 255, 0.861);
    padding: 8px;
    border-radius: 10px;
    color:#BFBAE6;
}
body{
   background-image: linear-gradient(to top,#88bdf8,#c9c9f6,#dbdbf6,#fff,#fff);   
}

.container{
    margin:90px 0px 0px 0px;
    padding: 90px;
    display:flex;
    align-items: center;
    flex-direction: row;
}
h1{
    font-weight: lighter;
    font-family: var(--font-destaque);
    font-size: 3rem;
}

h3{
    font-size: 1rem;
    padding: 5px 0px 15px 0px;
    font-weight:normal;
}
p{
    font-size: 1.2rem;
    padding: 0px 35px 0px 0px;
    text-align: justify;
}
.btn{
    position: relative;
    padding: 10px 20px;
    color: #743ad5;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    overflow: hidden;
    transition: 0.5s;
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0.378);
    color: #111;
    box-shadow: 0 0 50px  rgba(255, 255, 255, 0.378);
    transition-delay: 0.3s;
}
.btn:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 1px solid #743ad5;
    border-left: 1px solid #743ad5;
    transition: 0.5s;
    transition-delay: 0.3s;
}
.btn:hover:before{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}
.btn:after{
    content: '';
    position: absolute;
    bottom:0px;
    right: 0px;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #743ad5;
    border-right: 1px solid #743ad5;
    transition: 0.5s;
    transition-delay: 0.3s;
}
.btn:hover:after{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
} 
.imagem{
    display:flex;
    align-items: center;
    flex-direction: row;
}
.img{
    width: 313px;
    height:343px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #733ad57e
}
.bloco2{
    margin: 0px 35px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}
.bloco2 p{
    font-size: 1.2rem;
}
.informacao{
    width: 400px;
    padding: 60px 40px;
}
.contato{
    padding:  60px 40px;
    width: 400px;
}
.retangulo{
    background-color: rgba(255, 255, 255, 0.131);
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin: 20px;
}
.retangulo:hover{
    background-color:  rgba(255, 255, 255, 0.378);
}
legend{
    font-family:var(--font-destaque);
    font-size: 1.5rem;
    font-weight: bolder;
    
}
.redes-sociais{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.instagram{
    color:black;
    font-size: 1.8rem;
    padding: 8px 10px 8px 0px;
}
.instagram:hover{
    color: rgba(0, 0, 0, 0.639);
}
.linkedin{
    color:black;
    padding: 8px 10px;
    font-size: 1.8rem;
}
.linkedin:hover{
    color: rgba(0, 0, 0, 0.639);
}
.github{
    color:black;
    padding:  0px 10px;
    font-size: 1.8rem;
}
.github:hover{
    color: rgba(0, 0, 0, 0.639);
}
.bloco3{
    margin: 0px 35px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}
.bloco3 p{
    font-size: 1.2rem;
}
.experiencia{
    width: 470px;
    padding: 60px 30px;
}
.experiencia a{
    color: #000;
    font-weight: bold; 
}
.experiencia a:hover{
    text-decoration: underline;  
    color: rgba(0, 0, 0, 0.833);  
}

.complementares{
    width: 470px;
    padding: 60px 40px;
}
.bloco4{
    margin: 0px 35px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}
.bloco4 p{
    font-size: 1.2rem;
}
.skills-s{
    width: 400px;
    padding: 60px 40px;
}

.skills-h{
    width: 400px;
    padding: 60px 40px;
}
footer{
    text-align: center;
    font-size: 0.8rem;
    margin: 120px 0px 4px 0px;
    background-color: #88bdf8;
    color: #fff;
}
footer a{
    color: #fff;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;    
}
